[Unit]
Description=Service for polling OES and sending results to graphite

[Service]
Type=simple
Restart=on-failure
RestartSec=5
WorkingDirectory=/opt/oes_poller
ExecStart=/bin/python3 /opt/oes_poller/main.py

[Install]
WantedBy=multi-user.target
